*,*::before, *::after{
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
button::-moz-focus-inner{
    padding: 0;border: 0;
}
ul li{
    list-style: none;
}
input,button,textarea{
    font-family: inherit;
}
:root{
    --green: #009378;
    --greenFerst: #004639;
    --pale: #E5F4F2;
    --Onboarding-background-grey: #2D2D2D;
    --Blue: #36F;
    --neutral-900: #111827;
    --neutral-700: #374151;
}

/* poppins 600, 700
mulish 400, 700 */

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.container_mein {
    max-width: 1280px;
    min-width: 300px;
    margin: 0 auto;
    /* background-color: #36F; */
}
.container_mein-new{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 55px;
}
/* Navbar */
.nav_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_img {
    width: 32px;
    height: 32px;
    margin-right: 6px;
}
.logo_text {
    display: flex;
    align-items: center;
}
.logo_p {
    color: #2D2D2D;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    line-height: 27.3px;
}
.logo_span {
    color: #2D2D2D;
    font-size: 21px;
    font-weight: 400;
    line-height: 27.3px;
}
.nav_list {
    display: flex;
    align-items: center;
}
.contact{
    margin-right: 50px;

    color: var(--green);
    text-align: center;
    font-feature-settings: 'liga' off;
    font-size: 16px;
    line-height: 24px;
}
.contact:hover{
   color: #035747;
}
.block_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 442px;
    width: 100vh;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 50px;
    border-radius: 20px;
    /* background: var(--pale); */
    background-color: var(--green);
    cursor: pointer;

    /* color: var(--green); */
    color: #fff;
    text-align: center;
    font-feature-settings: 'liga' off;
    font-size: 16px;
    line-height: 24px;
    transition: all 0.3s ease-in-out;
}
.button:hover{
    background-color: var(--greenFerst);
}
.button:active{
    scale: 1.1;
}
.img_button {
    margin-right: 7px;
    background-color: #fff;
    border-radius: 7px;
}

/* Hero */
.hero_row {
    display: flex;
    padding: 120px 65px;
}
.hero_box-1 {
    margin-top: 21px;
    margin-right: auto;
    max-width: 648px;
}
.hero_title {
    color: var(--Onboarding-background-grey, #2D2D2D);
    font-size: 67px;
    font-weight: 700;
    line-height: 87.1px;
    letter-spacing: -1.675px;
}
.hero_text {
    margin-top: 20px;

    color: var(--Onboarding-background-grey, #2D2D2D);
    font-family: Mulish;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px; 
}
.hero_span{
    color: var(--Blue, #36F);
    font-family: Mulish;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px; 
}
.hero_buttons {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 40px;
}
.hero_box-img {
    max-width: 450px;
    max-height: 450px;
}
.hero_img {
    width: 100%;
}

/* Logo bar */
.logobar_row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 120px 55px; 
}
.logobar_img {
    width: 90px;
}

/* Features */
.features_main-text {
    margin: 170px auto 0px;
    padding: 0px 30px;
}
.features_title {
    color: #000;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 49.4px;
    letter-spacing: -0.76px;
}
.features_text {
    color: #2D2D2D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
}
.features_carts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
    margin: 60px 55px 120px;
}
.features_cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 310px;
}
.img_icon {
    width: 82px;
    height: 82px;
}
.cart_texts {
    margin-top: 30px;
    max-width: 370px;
}
.cart_title {
    color: #2D2D2D;
    text-align: center;
    font-size: 28px;
    line-height: 36.4px;
    letter-spacing: -0.28px;
}
.cart_text {
    color: #2D2D2D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}
.cart_linck {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
}
.linck {
    color: #009379;
    text-align: center;
    font-feature-settings: 'liga' off;
    font-size: 16px;
    line-height: 24px;
    margin-right: 8px;
}
.img-arrow {
    width: 20px;
    height: 20px;
}

/* Metrics */
.metrics_container {
    max-width: 1170px;
    margin: 120px 55px;
}
.metrics_title {
    color: #000;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 49.4px;
    letter-spacing: -0.76px;
}
.metrics_text {
    color: #2D2D2D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;

    margin-top: 20px;
}
.metrics_cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
    margin-top: 60px;
}
.metrics_card {
    padding: 48px 16px;
}
.metrics_cads-title {
    color: #000;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 49.4px;
    letter-spacing: -0.76px;
}
.metrics_cards-text {
    color: #2D2D2D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;

    margin-top: 5px;
}

/* Landing */
.landing_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 120px 55px;
}
.lending_box-left {
    max-width: 540px;
}
.lending_img {
    width: 100%;
}
.lending_box-right {
    max-width: 560px;
    margin-left: 60px;
}
.lending_title {
    color: var(--Onboarding-background-grey, #2D2D2D);
    font-size: 38px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: -1px;
}
.lending_text {
    color: var(--Onboarding-background-grey, #2D2D2D);
    font-family: Mulish;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;

    margin-top: 20px;
}
.landing_button {
    margin-top: 40px;
}
.arrowleft{
    background-color: transparent;
    margin-right: 0;
    margin-left: 8px;
}

/* Testimonials */
.testimonials_container {
    margin: 120px 55px;
}
.testimonials_title {
    color: #000;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 49.4px;
    letter-spacing: -0.76px;
}
.testimonials_text {
    color: #2D2D2D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;

    margin-top: 20px;
}
.testimonials_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
    column-gap: 60px;
    row-gap: 0px;
}
.testimonials_card {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    padding: 30px 30px;
}
.testimonials_img {
    width: 56px;
    height: 56px;
    margin: 0 auto;
}
.testimonials_card-title {
    color: var(--neutral-900, #111827);
    text-align: center;
    font-size: 21px;
    line-height: 27.3px;
    margin-top: 16px;
}
.testimonials_card-text {
    color: var(--neutral-700, #374151);
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    margin-top: 8px;
}
.testimonials_box-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.testimonials_card-text-2 {
    color: #2D2D2D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
}
.testimonials_stars {
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonials_img-stars {
    width: 24px;
    height: 24px;
    margin: 0 2.5px;
}

/* Plan */
.plan_container {
    margin: 120px 55px;
}
.plan_title {
    color: #000;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 49.4px;
    letter-spacing: -0.76px;
}
.plan_text {
    color: #2D2D2D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    margin-top: 20px;
}
.plan_cards {
    margin-top: 60px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 30px;
}
.plan_card {
    padding: 40px 30px;
    max-width: 370px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}
.plan_card:hover{
    background-color: var(--green);
}
.plan_card-title {
    color: #2D2D2D;
    font-family: Mulish;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;
}
.plan_money {
    color: #2D2D2D;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: -1px;
    margin-top: 6px;
}
.plan_card-span {
    color: #3B3B3B;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    margin-left: 12px;
}
.plan_card-text {
    color: #2D2D2D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    margin-top: 11px;
}
.plan_box-text {
    margin-top: 24px;
}
.plan_box{
    display: flex;
    align-items: center;
}
.plan_img-check {
    margin-right: 12px;
    align-items: center;
    background: #E5F4F2;
    border-radius: 50%;
}
.check-text {
    color: #2D2D2D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
}
.check-text :last-child{
    margin-bottom: 0;
}
.plan_button {
    width: 100%;
    border-radius: 20px;
    background: #E5F4F2;
    color: #009379;
    margin-top: 30px;
}
.plan_button:hover{
    background: #E5F4F2;
}
.arrowleft-green{
    width: 20px;
    height: 20px;
    margin-left: 8px;
}







